  .header_principal{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 92%;
        height: 4.875rem;
        background-color: #FFFFFF;
        position: static;
        left: 0px;
        top: 0px;
        display: flex;
        margin: 0% 4%;
    }
    .logo_aluraweek{
        position: static;
        width: 25%;
        height: 1.75rem;
        display: flex;
        justify-content: flex-start;
    }
    .logo_aluraweek_desktop{
        display: none;
        visibility: hidden;
    }
    .invertir_orden{
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .busqueda_responsive{
        
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .input_responsive{
        position: absolute;
        height: 45px;
        width: 45px;
        font-size: 18px;
        color: white;
        outline: none;
        border: 3px solid #F5F5F5;
        border-radius: 50%;
        background: #2A7AE4 url(../img/Icone.svg) no-repeat 10px center;
        transition: all .7s;
        outline: none;
        
    }
    .logo_buscar{
        position: absolute;
        padding: 5px;
        width: 35px;
        height: 35px;
        background-color: #2A7AE4;
        border-radius: 50%;
    }
    .input_responsive:active{
        width: 200px;
        border-radius: 45px;
        padding-left: 35px;
    }
    .input_responsive:focus{
        width: 200px;
        border-radius: 45px;
        padding-left: 35px;
    }

    .boton_login{
        display: flex;
        justify-content: initial;
        width: 7.5rem;
        height: 2.5rem;
        padding: 0.75rem 35px;
        border: 1px solid #2A7AE4;
        background: #FFFFFF;
        box-sizing: border-box;
        margin-left: 10%;
        color: #2A7AE4;
        text-align: center;
    }
    .contenedor_busqueda{
        display: none;
        visibility: hidden;
    }
    .barra_busqueda{
        display: none;
        visibility: hidden;
    }
    .logo_buscar_2{
        display: none;
        visibility: hidden;
    }






    .img_portada{
        position: static;
        height: 230px;
    }
    .imagen_portada{
        position: absolute;
        height: 230px;
        background-size: 100% 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%);
    } 
    .contenido_portada{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        margin-left: 4%;
        width: 85%;
        height: 230px;
    }
    .titulo_portada{
        font-family: 'Raleway', sans-serif;
        color: #FFFFFF;
        font-size: 7vw;
    }
    .subtitulo_portada{
        font-family: 'Raleway';
        color: #FFFFFF;
        font-weight: 550;
        font-size: 3.5vw;
        padding-top: 5px;
    }
    .boton_portada{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 10px;
        background: #2A7AE4;
        margin-top: 0.5rem;
        margin-bottom: 20px;
        color: white;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: lighter;
        font-size: 14px;
        width: 118px;
        height: 50px;
    }

    .barra_busqueda{
        display: none;
        visibility: hidden;
    }

    /* VALIDACION DEL LOGIN */
    .hidden{
        visibility: hidden;
    }
    .boton_login_off{
        display: none;
        visibility: hidden;
    }
    .logged_on{
        width: 45%;
        display: flex;
        justify-content: space-around;
        height: 40px;
    }
    .logged_off{
        display: none;
        visibility: hidden;
    }
    .btn_loggedoff{
        text-align: center;
        width: 8.3125rem;
        height: 2.5rem;
        padding: 0.55rem 1rem;
        border: 1px solid black;
        background: #FFFFFF;
        box-sizing: border-box;
        margin-left: 10%;
        color: black;
    }


    @media screen and (max-width: 800px) and (min-width: 601px) {
        .logo_aluraweek_desktop{
            display: none;
            visibility: hidden;
        }


        .contenedor_busqueda{
            display: flex;
            visibility: visible;
            position: relative;
            width: 350px;
            height: 50px;
        }
        .barra_busqueda{
            display: flex;
            visibility: visible;
            position: absolute;
            width: 350px;
            height: 40px;
            top: 0px;
            background: #F5F5F5;
            border-radius: 20px;
            padding: 12px 45px 12px 16px;
        }
        .logo_buscar_2{
            display: flex;
            visibility: visible;
            position: absolute;
            width: 35px;
            height: 35px;
            margin-left: 305px;
            padding-top: 2px;
        }


        .busqueda_responsive{
            display: none;
            visibility: hidden;
        }
        .barra_busqueda{
            display: flex;
            visibility: visible;
        }
        .header_principal{
            width: 94%;
            height: 72px;
            background-color: #FFFFFF;
            margin: 0 3%;
        }
        .invertir_orden{
            display: flex;
            width: 80%;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        .logo_aluraweek{
            position: static;
            width: 6.25rem;
            height: 1.75rem;
            padding-left: 0rem;
        }
        .titulo_portada{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 52px;
            line-height: 61px;
        }
        .subtitulo_portada{
            padding-top: 12px;
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
        }
        .img_portada{
            height: 352px;
        }
        .imagen_portada{
            position: absolute;
            height: 352px;
            background-size: 100% 100%;
        } 
        .contenido_portada{
            height: 352px;
        }
        .boton_portada{
            margin-top: 1rem;
            margin-bottom: 32px;
        }
    }
    @media screen and (min-width: 801px) {
        .busqueda_responsive{
            display: none;
            visibility: hidden;
        }
        .barra_busqueda{
            display: flex;
            visibility: visible;
        }
        .header_principal{
            width: 80%;
            height: 115px;
            background-color: #FFFFFF;
            margin: 0 10%;
        }
        /* BARRA DE BUSQUEDA */
        .contenedor_busqueda{
            display: flex;
            visibility: visible;
            position: relative;
            width: 350px;
            height: 50px;
        }
        .barra_busqueda{
            display: flex;
            visibility: visible;
            position: absolute;
            width: 350px;
            height: 40px;
            /* left: calc(50% - 272px/2 + 66px); */
            top: 0px;
            background: #F5F5F5;
            border-radius: 20px;
            padding: 12px 45px 12px 16px;
        }
        .logo_buscar_2{
            display: flex;
            visibility: visible;
            position: absolute;
            width: 35px;
            height: 35px;
            margin-left: 305px;
            padding-top: 2px;
        }
        /* FIN BARRA BUSQUEDA */
        .contenedor_buscar{
            position: relative;
        }
        .boton_buscar{
            display: none;
            position: absolute;
        }

        .imagen_boton_buscar{
            position: absolute;
            width: 35px;
            height: 35px;
        }
        .imagen_boton_buscar:hover{
            cursor: pointer;
        }


        .invertir_orden{
            display: flex;
            width: 80%;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        .logo_aluraweek{
            position: static;
            width: 0rem;
            height: 0rem;
            padding-left: 0rem;
            display: none;
            visibility: hidden;
        }
        .logo_aluraweek_desktop{
            display: flex;
            visibility: visible;
        }
        .img_portada{
            height: 352px;
        }
        .imagen_portada{
            position: absolute;
            height: 352px;
            background-size: 100% 100%;
        } 
        .contenido_portada{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            width: 80%;
            margin: 0 10%;
            height: 352px;
        }
        .titulo_portada{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 52px;
            line-height: 61px;
        }
        .subtitulo_portada{
            padding-top: 12px;
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
        }
        .boton_portada{
            margin-top: 1rem;
            margin-bottom: 32px;
        }
        .hidden{
            visibility: hidden;
        }
        .boton_login_off{
            display: none;
            visibility: hidden;
        }
        .logged_on{
            width: 45%;
            display: flex;
            justify-content: space-around;
            height: 40px;
        }
        .logged_off{
            display: none;
            visibility: hidden;
        }
        .LOGUEADO{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 550;
            font-size: 15px;
            color: #2A7AE4; 
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .btn_loggedoff{

            width: 8.3125rem;
            padding: 0.55rem .7rem;
            border: 1px solid black;
            background: #FFFFFF;
            box-sizing: border-box;
            margin-left: 10%;
            color: #2A7AE4;
            text-align: center;
            font-size: 18px;
        }
    }


